# Android Studio / IntelliJ
.idea/
*.iml
.gradle
local.properties

# Build output
build/
/app/build/

# Log files
*.log

# Captures
captures/

# External Native Build
.externalNativeBuild
.cxx

# OS specific
.DS_Store

# User-specific configuration
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/usage.xml
/.idea/dictionaries
/.idea/shelf
